* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/fon2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img_moon img {
    width: 500px;
    height: 500px;
    animation: spin 160s linear infinite;
    z-index: 1;
}

.img_comet1 {
    position: fixed;
    top: 0;
    right: 0;
}

.img_comet1 img {
    width: 100px;
    height: 100px;
    transform: translate(calc(100vw + 140px), calc(100vh - 140px)); /* Начальное положение за пределами экрана */

    animation: fly1 700ms linear forwards 10s;
}

.img_comet2 {
    position: fixed;
    top: 0;
    right: 0;
}

.img_comet2 img {
    width: 100px;
    height: 100px;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fly1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(calc(-100vw - 140px), calc(100vh - 140px));
    }
}